* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
body {
    background: url(photo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.contaner {
    background: #454c32 ;
    width: 500px ;
    height: 500px;
    display: flex;
    justify-content: center;
    border-radius: 25px;
    background: transparent;
    backdrop-filter:blur(50px) ;
    border: 2px solid rgba(0,0,0,0.1);
    box-shadow: 0 0 2px 0 rgba(0,0,0,0.1) ;

}


.contaner h1 {
    margin : 50px;
    text-align: center;
    color: #fff;
    font-size: 40px;
}
 .input-box {
    width: 400px;
    height: 80px;
    margin: 0 5px;
    padding: 0 10px;
    white-space: nowrap;
}
.input-box input {
    width: 80%;
    padding: 0 12px;
    margin: 0 10px;
    font-size: 14px;
    height: 40px;
    border-radius: 19px;
    outline: none;
    border: none ;
    border: 1px solid rgb(42, 28, 18);
    background: transparent;
    color: #FFF;
}

.input-box input::placeholder {
    color: #FFF;
}


.input-box i {
    position: relative;
   right: 50px;
   color: #FFF;
}

.contaner .check {
    display: flex;
    justify-content: space-between;
    margin: 0 30px;
    font-size: 15px;
    color: #fff;
}


.contaner .check a {
    color: #fff;
    text-decoration: none;
    margin-right: 20PX;
    font-size: 15PX;
}

 .contaner .btn {
    width: 80%;
    height: 40px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    padding: 3px 12px;
    border-radius: 19px;
    margin: 30px;
    font-size: 20px;
    letter-spacing: 2px;
    font-weight: 700;
    border: none;
    
}

.contaner .register-link  {
    text-align: center;
    color: #FFF;

}

.contaner .register-link a {
    color: #fff;
    text-decoration: none;

}

.contaner .register-link a:hover {
    text-decoration: underline;
    cursor: pointer;
}

@media (max-width:600px) {
    body{ 
        background-size: 1800px;
    }
    .contaner {
        width: 350px;
        height: 480px;
    }
    .contaner h1 {
        font-size: 35px;
    }
    .input-box{
        width: 330px;
        padding: 0 10px;
    }
    .input-box input {
        width: 70%;
        padding:0 20px;
        font-size: 12px;
    }
    .contaner .check{
        font-size: 13px;
    }

    .contaner .btn {
        width: 270px;
        font-size: 20px;
    }
    .contaner .register-link {
        font-size: 15px;
    }




}


